@import url(../blocks/digits/digits.css);
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/header/header.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/page/page.css);
@import url(../blocks/table/table.css);
@import url(../blocks/two-columns/two-columns.css);

:root {
  --black: #000000;
  --dark-gray: #1F1F1F;
  --light-gray: #F2F2F2;
  --blue: #2F80ED;
}

ul{
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}
